

body {
    background-image: url("./latar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
   
}
.d-wreaper {
    display: flex;
    gap: 30px;
    max-width: 1280px;
    margin: 40px auto;
} 
.img {
    width: 150px;
    height: auto;
    object-fit: contain;
    margin: 9px;
    border-radius: 10%;
    margin-right: 10%;
    
}
.h1 {
    object-fit: contain;
    margin-left: 50px;
    margin-top: auto;
}
.right {
    display: flex;
    flex-direction: column;
    flex: 1px;
}
.title {
    font-size: 50px;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.sub-title {
    font-size: 24px;
    margin: 10px 0;
}
.menu-wrapper {
    list-style-type: none;
    display: flex;
    padding: 1px solid;
    margin: 1px  ;
    background-color: #000000;
    height: 50px;
    border-radius: 10px;
}
.menu-item {
    padding: 2px 20px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    border-right: 0px solid wheat;
    text-decoration: none;
    position: relative;
    top: 10px;
    font-size: 23px;
    
   

}
.menu-item:first-child  {
    padding-left: 1px;
}
.menu-item:last-child {
    border: none;
}
.menu-item:hover {
    color: red;
   
}
.jumbotron-wrapper {
    display: flex;
    flex-direction: column;
    width: auto;
    
    
}
.jumbotron {
    border: 2px solid black;
    padding: 10px 20px;
    min-height: 300px;
    margin: 16px 0;
    margin-right: 7px;
    background-color: aliceblue;
}

/* .description {

} */
.btn {
    align-self: flex-end;
    margin-right: 20px;
}

/* style3 */
.table-wrapper {
    margin: 10px 0;
}
.table-header {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 2px 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    background-color: aliceblue;
    font-size: 25px;
    border-radius: 10px;
}
.table-header-text {
    display: inline-block;
    margin: 20px;
    
}
.table-header-select {
    outline: none;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    font-size: 17px;
    background-color: gold;
    margin-right: 20px;
    color: black;
    border-radius: 10px;
}
.table-body {
    border: 2px solid blue;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0px;
    background-color: whitesmoke;
}
table {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border: none;
    border-collapse: collapse;
    
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
   
    
}
th, td {
    padding: 10px 15px;
  
    
}

.table-body button {

    display: flex;
    position: relative;
    right: auto;
    top: 5px;
    align-items: center;
    border: 3px solid green;
    outline: auto;
    border-radius: 6%;
    height: 35px;
    background-color: gold;
    color: black;
    font-size: 17px;
    cursor: pointer;
    padding-top: 1px solid red;
    text-overflow: calc();
    
}
.table-body button:hover {
    cursor: pointer;
    background-color: red;
    color: #000000;
}
th {
    background-color: black;
    color: white;
}
tr:nth-child(even){
   text-align: start;
  
    background-color: red;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 30px;
}
.dashboard-form-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 6px 40%;

}
.button-d-form {
    justify-content: flex-end;
}
.d-form-input {
    min-width: 230px;
    padding: 7px 3px;
    outline: none;
    height: 10px;
    
    
}
.hidden {
    display: none;
}
.btn {
    
    display: flex;
    position: relative;
    right: auto;
    top: 15px;
    align-items: center;
    border: 2px solid green;
    outline: auto;
    border-radius: 5%;
    height: 35px;
    background-color: gold;
    cursor: pointer;
    color: black;
    font-size: 17px;
    padding-top: 1px solid red;
    text-overflow: calc();
    
}
.btn:hover {
    cursor: pointer;
    background-color: red;
    color: black;
}
.button {
    position: relative;
    height: 35px;
    width: 85px;
    background-color: gold;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: dashed;
}
.button:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}